li {
  border: black;
  background-color: #E0E7EA;
  padding: 10px;
  margin: 2px;
  text-decoration: none;
  list-style: none;
  transition: background-color 0.3s ease;
  border-radius: 3%;
}

li:hover {
  background-color: #9eaeb5;
}

ul {
  padding: 0;
}
