li {
  border: black;
  background-color: #E0E7EA;
  padding: 10px;
  margin: 2px;
  text-decoration: none;
  list-style: none;
  transition: background-color 0.3s ease;
  border-radius: 3%;
}

li:hover {
  background-color: #9eaeb5;
}

ul {
  padding: 0;
}

.student-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}
.student-container button {
  background: none;
  border: none;
  color: #676767;
  font-size: 1.2rem;
  font-weight: 100;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
